COMPOSE_PROJECT_NAME=searchagent
COMPOSE_DOMAIN=search-agent.local.itkdev.dk

ENV=dev

SEARCH_AGENT_LLM_BASE_URL=xxx
SEARCH_AGENT_LLM_API_KEY=xxx
SEARCH_AGENT_LLM_MODEL=AarhusAI-default
# Set to false for models that don't support OpenAI strict tool definitions (e.g. Mistral)
# SEARCH_AGENT_LLM_STRICT_TOOLS=false
